[submodule "cranberry"]
	path = cranberry
	url = git@github.com:erikperkins/cranberry
[submodule "blueberry"]
	path = blueberry
	url = git@github.com:erikperkins/blueberry
[submodule "mulberry"]
	path = mulberry
	url = git@github.com:erikperkins/mulberry
[submodule "bayberry"]
	path = bayberry
        url = git@github.com:erikperkins/bayberry
[submodule "cloudberry"]
	path = cloudberry
	url = git@github.com:erikperkins/cloudberry
[submodule "ansible"]
	path = ansible
	url = git@github.com:erikperkins/ansible
