[submodule "snap_app"]
	path = snap_app
	url = git@github.com:erikperkins/snap_app
[submodule "flask_app"]
	path = flask_app
	url = git@github.com:erikperkins/flask_app
[submodule "iron_app"]
	path = iron_app
	url = git@github.com:erikperkins/iron_app
[submodule "golang_app"]
	path = golang_app
	url = git@github.com:erikperkins/golang_app
[submodule "phoenix_app"]
        path = phoenix_app
        url = git@github.com:erikperkins/phoenix_app
[submodule "finch_app"]
	path = finch_app
	url = git@github.com:erikperkins/finch_app
[submodule "ansible"]
	path = ansible
	url = git@github.com:erikperkins/ansible
