[submodule "snap_app"]
	path = cranberry
	url = git@github.com:erikperkins/cranberry
[submodule "flask_app"]
	path = blueberry
	url = git@github.com:erikperkins/blueberry
[submodule "iron_app"]
	path = gooseberry
	url = git@github.com:erikperkins/gooseberry
[submodule "golang_app"]
	path = mulberry
	url = git@github.com:erikperkins/mulberry
[submodule "phoenix_app"]
	path = bayberry
        url = git@github.com:erikperkins/bayberry
[submodule "finch_app"]
	path = cloudberry
	url = git@github.com:erikperkins/cloudberry
[submodule "ansible"]
	path = ansible
	url = git@github.com:erikperkins/ansible
